<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="지도위의 스토리">
  <meta name="description" content="지도위에 스토리를 남겨보세요!">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="지도위의 스토리">
  <meta property="og:description" content="지도위에 스토리를 남겨보세요!">
  <meta property="og:image" content="https://drive.google.com/thumbnail?id=1bHpAQGFz9WTw6LW5U8TCVgew1M9hqYsK&sz=w1080">
  <meta property="og:url" content="https://웹사이트">
  <title>pageMap | dd</title>
  <link rel="stylesheet" href="/static/css/setting.css">
  <link rel="stylesheet" href="/static/css/plugin.css">
  <link rel="stylesheet" href="/static/css/template.css">
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <!-- [S]thpart-gWLT3s2y66 -->
  <header class="thpart-gWLT3s2y66" data-bid="gWLT3s2y66" id="">
    <div class="header-inner">
      <div class="header-container container-lg">
        <div class="header-left">
          <h1 class="header-title">
            <a href="javascript:void(0)">Concho</a>
          </h1>
          <div class="header-mobile-group">
            <div class="header-mobile-top">
              <p>로그인이 필요합니다.</p>
              <a href="javascript:void(0)">로그인</a>
            </div>
            <ul class="header-gnblist">
              <li class="header-gnbitem">
                <a class="header-gnblink" href="javascript:void(0)">
                  <span>홈으로 가기</span>
                </a>
              </li>
              <li class="header-gnbitem">
                <a class="header-gnblink" href="javascript:void(0)">
                  <span>사진 업로드</span>
                </a>
              </li>
              <li class="header-gnbitem">
                <a class="header-gnblink" href="javascript:void(0)">
                  <span>스토리 게시판</span>
                </a>
              </li>
            </ul>
            <button class="header-btn btn-close">
              <img src="/static/icons/ico_close_white.svg" alt="닫기 아이콘">
            </button>
          </div>
        </div>
        <div class="header-right">
          <div class="header-utils">
            <button class="header-btn btn-seach">
              <img src="/static/icons/ico_seach_black.svg" alt="검색 아이콘">
            </button>
            <a href="javascipt:void(0);" class="header-btn btn-user">
              <img src="/static/icons/ico_user_black.svg" alt="유저 아이콘">
            </a>
            <button class="header-btn btn-allmenu">
              <img src="/static/icons/ico_menu2_black.svg" alt="PC메뉴 아이콘">
            </button>
            <button class="header-btn btn-momenu">
              <img src="/static/icons/ico_menu2_black.svg" alt="모바일메뉴 아이콘">
            </button>
            <button class="header-btn btn-close">
              <img src="/static/icons/ico_close_black.svg" alt="닫기 아이콘">
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="header-dim"></div>
  </header>
  <!-- [E]thpart-gWLT3s2y66 -->
  <main class="th-layout-main ">
    <!-- [S]basic-N45 -->
    <div class="basic-N45" data-bid="xflT3uva1u" id="">
      <div class="contents-container container-md">
        <img class="contents-visual img-pc" src="../medias/7502cd1a0ca14cb3a53f87346e417dfc.png" alt="">
        <img class="contents-visual img-mobile" src="../medias/7502cd1a0ca14cb3a53f87346e417dfc.png" alt="">
        <div class="contents-body">
          <div class="textset textset-visual">
          </div>
        </div>
      </div>
    </div>
    <!-- [E]basic-N45 -->
  </main>
  <!-- [S]thpart-GRlSYbSXNM -->
  <footer class="thpart-GRlSYbSXNM" data-bid="GRlSYbSXNM" id="">
    <div class="footer-container container-lg">
      <div class="footer-top">
        <h1 class="footer-logo">
        </h1>
        <ul class="footer-menulist">
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>이용약관</span>
            </a>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>개인정보처리방침</span>
            </a>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>푸터메뉴1</span>
            </a>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>푸터메뉴2</span>
            </a>
          </li>
        </ul>
        <ul class="footer-snslist">
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="/static/icons/ico_instagram_lightgrey.svg" alt="인스타그램">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="/static/icons/ico_youtube_lightgrey.svg" alt="유튜브">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="/static/icons/ico_facebook_lightgrey.svg" alt="페이스북">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="/static/icons/ico_kakao_lightgrey.svg" alt="카카오톡">
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-bottom">
        <div class="footer-txt">
          <p>서울시, 성남시</p>
          <p>
            <span>T. 010-3785-3890</span>
            <span>E. dlwnsdn980828@gmail.com</span>
          </p>
        </div>
        <div class="footer-txt">
          <p>made by Concho</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- [E]thpart-GRlSYbSXNM -->
  <script src="/static/js/setting.js"></script>
  <script src="/static/js/plugin.js"></script>
  <script src="/static/js/template.js"></script>
  <script src="/static/js/common.js"></script>
  <script src="/static/js/script.js"></script>
</body>