<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>pageHome</title>
  <link rel="stylesheet" th:href="@{/css/setting.css}" />
  <link rel="stylesheet" th:href="@{/css/plugin.css}" />
  <link rel="stylesheet" th:href="@{/css/template.css}" />
  <link rel="stylesheet" th:href="@{/css/common.css}" />
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>


<body>
  <!-- [S]thpart-kPLSyBsWWK -->
  <header class="thpart-kPLSyBsWWK" data-bid="kPLSyBsWWK" id="s">
    <div class="header-inner">
      <div class="header-container container-lg">
        <h1 class="header-title">
          <a href="javascript:void(0)">Concho<br></a>
        </h1>
        <div class="header-center">
          <div class="header-title header-mobile-top">
            <a href="javascript:void(0)">
              <img src="/images/img_logo_black.png" alt="로고">
            </a>
          </div>
          <ul class="header-gnblist">
            <li class="header-gnbitem">
              <a class="header-gnblink" th:href="@{/}">
                <span>웹사이트 소개</span>
              </a>
            </li>
            <li class="header-gnbitem">
              <a class="header-gnblink" th:href="@{/openPage/pageCommunityTm}">
                <span>스토리 게시판</span>
              </a>
            </li>
            <li class="header-gnbitem">
              <a class="header-gnblink" th:href="@{/openPage/pageLogIn}">
                <span>로그인</span>
              </a>
            </li>
            <li class="header-gnbitem">
              <a class="header-gnblink" th:href="@{/openPage/pageSignUp}">
                <span>회원가입</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="header-right">
          <div class="header-lang">
            <ul class="header-langlist">
              <li class="header-langitem">
                <a href="javascript:void(0)">KOR</a>
              </li>
              <li class="header-langitem">
                <a href="javascript:void(0)">ENG</a>
              </li>
            </ul>
          </div>
          <div class="header-utils">
            <button class="btn-allmenu">
              <img src="/icons/ico_menu_black.svg" alt="PC메뉴 아이콘">
            </button>
            <button class="btn-momenu">
              <img src="/icons/ico_menu_black.svg" alt="모바일메뉴 아이콘">
            </button>
            <button class="btn-close">
              <img src="/icons/ico_close_black.svg" alt="닫기 아이콘">
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="header-dim"></div>
  </header>
  <!-- [E]thpart-kPLSyBsWWK -->
  <main class="th-layout-main ">
    <!-- [S]basic-N6 -->
    <div class="basic-N6" data-bid="GBlSybSX5Z">
      <div class="contents-container container-md">
        <div class="textset">
          <h2 class="textset-tit">지도위의 스토리</h2>
          <p class="textset-desc">스토리를 지도상에서 공유하세요!</p>
        </div>
      </div>
    </div>
    <!-- [E]basic-N6 -->
    <!-- [S]thpart-gCLT3SYFH2 -->
    <div class="thpart-gCLT3SYFH2" data-bid="gCLT3SYFH2">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="imageset">
            <img class="imageset-img img-pc" src="/medias/7502cd1a0ca14cb3a53f87346e417dfc.png" alt="pc 이미지">
            <img class="imageset-img img-mobile" src="/medias/7502cd1a0ca14cb3a53f87346e417dfc.png" alt="모바일 이미지">
          </div>
          <div class="contents-group">
            <div class="cardset">
              <figure class="cardset-figure">
                <img class="cardset-img" src="https://images.unsplash.com/photo-1682685797208-c741d58c2eff?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w0OTE2MDd8MXwxfGFsbHwxNnx8fHx8fDJ8fDE3MDkwMTIwMTF8&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080" alt="">
              </figure>
              <div class="cardset-body">
                <h5 class="cardset-tit">한눈에 보는 나의 스토리</h5>
                <p class="cardset-desc">사진의 위치를 기반으로 마커를 생성해주기 때문에 한눈에 나의 발자취를 확인할수 있어요!</p>
              </div>
            </div>
            <div class="cardset">
              <figure class="cardset-figure">
                <img class="cardset-img" src="https://images.unsplash.com/photo-1708856109050-6f5f5afdfdd9?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w0OTE2MDd8MHwxfGFsbHwxMHx8fHx8fDJ8fDE3MDkwMTIwMTF8&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080" alt="">
              </figure>
              <div class="cardset-body">
                <h5 class="cardset-tit">사진을 찍은 위치를 확인하세요!</h5>
                <p class="cardset-desc"> 언제 어디서나 내가 사진을 찍은 휘치를 확인할 수 있어요!</p>
              </div>
            </div>
            <div class="cardset">
              <figure class="cardset-figure">
                <img class="cardset-img" src="https://images.unsplash.com/photo-1707343843437-caacff5cfa74?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w0OTE2MDd8MXwxfGFsbHwxfHx8fHx8Mnx8MTcwOTAxMjAxMXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080" alt="">
              </figure>
              <div class="cardset-body">
                <h5 class="cardset-tit">안가본 지역으로 여행을 떠나요!</h5>
                <p class="cardset-desc">마커가 찍히지 않은 지역으로의 여행을 한번 떠나보세요!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]thpart-gCLT3SYFH2 -->
  </main>
  <!-- [S]thpart-GRlSYbSXNM -->
  <footer class="thpart-GRlSYbSXNM" data-bid="GRlSYbSXNM" id="">
    <div class="footer-container container-lg">
      <div class="footer-top">
        <h1 class="footer-logo">
        </h1>
        <ul class="footer-menulist">
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>이용약관</span>
            </a>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>개인정보처리방침</span>
            </a>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>푸터메뉴1</span>
            </a>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>푸터메뉴2</span>
            </a>
          </li>
        </ul>
        <ul class="footer-snslist">
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="/icons/ico_instagram_lightgrey.svg" alt="인스타그램">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="/icons/ico_youtube_lightgrey.svg" alt="유튜브">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="/icons/ico_facebook_lightgrey.svg" alt="페이스북">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="/icons/ico_kakao_lightgrey.svg" alt="카카오톡">
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-bottom">
        <div class="footer-txt">
          <p>서울시, 성남시</p>
          <p>
            <span>T. 010-3785-3890</span>
            <span>E. dlwnsdn980828@gmail.com</span>
          </p>
        </div>
        <div class="footer-txt">
          <p>made by Concho</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- [E]thpart-GRlSYbSXNM -->
  <script src="/js/setting.js"></script>
  <script src="/js/plugin.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/script.js"></script>
</body>