<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="지도위의 스토리">
  <meta name="description" content="지도위에 스토리를 남겨보세요!">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="지도위의 스토리">
  <meta property="og:description" content="지도위에 스토리를 남겨보세요!">
  <meta property="og:image" content="https://drive.google.com/thumbnail?id=1bHpAQGFz9WTw6LW5U8TCVgew1M9hqYsK&sz=w1080">
  <meta property="og:url" content="https://웹사이트">
  <title>pageCommunityTm</title>
  <link rel="stylesheet" th:href="@{/css/setting.css}">
  <link rel="stylesheet" th:href="@{/css/plugin.css}">
  <link rel="stylesheet" th:href="@{/css/template.css}">
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
  <!-- [S]thpart-kPLSyBsWWK -->
  <header class="thpart-kPLSyBsWWK" data-bid="kPLSyBsWWK" id="s">
    <div class="header-inner">
      <div class="header-container container-lg">
        <h1 class="header-title">
          <a href="javascript:void(0)">Concho<br></a>
        </h1>
        <div class="header-center">
          <div class="header-title header-mobile-top">
            <a href="javascript:void(0)">
              <img src="/images/img_logo_black.png" alt="로고">
            </a>
          </div>
          <ul class="header-gnblist">
            <li class="header-gnbitem">
              <a class="header-gnblink" th:href="@{/openPage/pageHome}">
                <span>홈으로 가기</span>
              </a>
            </li>
            <li class="header-gnbitem">
              <a class="header-gnblink" th:href="@{/openPage/pageLogIn}">
                <span>로그인</span>
              </a>
            </li>
            <li class="header-gnbitem">
              <a class="header-gnblink" th:href="@{/openPage/pageSignUp}">
                <span>회원가입</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="header-right">
          <div class="header-lang">
            <ul class="header-langlist">
              <li class="header-langitem">
                <a href="javascript:void(0)">KOR</a>
              </li>
              <li class="header-langitem">
                <a href="javascript:void(0)">ENG</a>
              </li>
            </ul>
          </div>
          <div class="header-utils">
            <button class="btn-allmenu">
              <img src="/icons/ico_menu_black.svg" alt="PC메뉴 아이콘">
            </button>
            <button class="btn-momenu">
              <img src="/icons/ico_menu_black.svg" alt="모바일메뉴 아이콘">
            </button>
            <button class="btn-close">
              <img src="/icons/ico_close_black.svg" alt="닫기 아이콘">
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="header-dim"></div>
  </header>
  <!-- [E]thpart-kPLSyBsWWK -->
  <main class="th-layout-main ">
    <!-- [S]thpart-JALt3SFTiv -->
    <div class="thpart-JALt3SFTiv" data-bid="JALt3SFTiv" id="sd">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="contents-group">
            <a href="javascript:void(0);" class="cardset">
              <figure class="cardset-figure">
                <img class="cardset-img" src="/images/img_basic_N19_1.png" alt="이미지">
              </figure>
              <div class="cardset-body">
                <h5 class="cardset-tit">게시글1</h5>
                <p class="cardset-desc"> 게시글 설명1</p>
              </div>
            </a>
            <a href="javascript:void(0);" class="cardset">
              <figure class="cardset-figure">
                <img class="cardset-img" src="/images/img_basic_N19_2.png" alt="이미지">
              </figure>
              <div class="cardset-body">
                <h5 class="cardset-tit">
                </h5>
                <h5 class="cardset-tit" style="font-size: var(--lh-p4); line-height: var(--lh-p4);">게시글2</h5>
                <p class="cardset-desc">게시글 설명2</p>
              </div>
            </a>
            <a href="javascript:void(0);" class="cardset">
              <figure class="cardset-figure">
                <img class="cardset-img" src="/images/img_basic_N19_3.png" alt="이미지">
              </figure>
              <div class="cardset-body">
                <h5 class="cardset-tit">
                </h5>
                <h5 class="cardset-tit" style="font-size: var(--lh-p4); line-height: var(--lh-p4);">게시글3</h5>
                <p class="cardset-desc">게시글 설명3</p>
              </div>
            </a>
            <a href="javascript:void(0);" class="cardset">
              <figure class="cardset-figure">
                <img class="cardset-img" src="/images/img_basic_N19_1.png" alt="이미지">
              </figure>
              <div class="cardset-body">
                <h5 class="cardset-tit">
                </h5>
                <h5 class="cardset-tit" style="font-size: var(--lh-p4); line-height: var(--lh-p4);">게시글4</h5>
                <p class="cardset-desc">게시글 설명4</p>
              </div>
            </a>
            <a href="javascript:void(0);" class="cardset">
              <figure class="cardset-figure">
                <img class="cardset-img" src="/images/img_basic_N19_2.png" alt="이미지">
              </figure>
              <div class="cardset-body">
                <h5 class="cardset-tit">
                </h5>
                <h5 class="cardset-tit" style="font-size: var(--lh-p4); line-height: var(--lh-p4);">게시글5</h5>
                <p class="cardset-desc">게시글 설명5</p>
              </div>
            </a>
            <a href="javascript:void(0);" class="cardset">
              <figure class="cardset-figure">
                <img class="cardset-img" src="/images/img_basic_N19_3.png" alt="이미지">
              </figure>
              <div class="cardset-body">
                <h5 class="cardset-tit">
                </h5>
                <h5 class="cardset-tit" style="font-size: var(--lh-p4); line-height: var(--lh-p4);">게시글6</h5>
                <p class="cardset-desc">게시글 설명6</p>
              </div>
            </a>
          </div>
          <nav class="pagiset pagiset-line">
            <div class="pagiset-ctrl">
              <a class="pagiset-link pagiset-first" href="javascript:void(0)">
                <span class="visually-hidden">처음</span>
              </a>
            </div>
            <div class="pagiset-ctrl">
              <a class="pagiset-link pagiset-prev" href="javascript:void(0)">
                <span class="visually-hidden">이전</span>
              </a>
            </div>
            <div class="pagiset-list">
              <a class="pagiset-link active-fill" href="javascript:void(0)">1</a>
              <a class="pagiset-link" href="javascript:void(0)">2</a>
              <a class="pagiset-link" href="javascript:void(0)">3</a>
              <a class="pagiset-link" href="javascript:void(0)">4</a>
            </div>
            <div class="pagiset-ctrl">
              <a class="pagiset-link pagiset-next" href="javascript:void(0)">
                <span class="visually-hidden">다음</span>
              </a>
            </div>
            <div class="pagiset-ctrl">
              <a class="pagiset-link pagiset-last" href="javascript:void(0)">
                <span class="visually-hidden">마지막</span>
              </a>
            </div>
          </nav>
        </div>
      </div>
    </div>
    <!-- [E]thpart-JALt3SFTiv -->
  </main>
  <!-- [S]thpart-GRlSYbSXNM -->
  <footer class="thpart-GRlSYbSXNM" data-bid="GRlSYbSXNM" id="">
    <div class="footer-container container-lg">
      <div class="footer-top">
        <h1 class="footer-logo">
        </h1>
        <ul class="footer-menulist">
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>이용약관</span>
            </a>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>개인정보처리방침</span>
            </a>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>푸터메뉴1</span>
            </a>
          </li>
          <li class="footer-menuitem">
            <a href="javascript:void(0)">
              <span>푸터메뉴2</span>
            </a>
          </li>
        </ul>
        <ul class="footer-snslist">
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="/icons/ico_instagram_lightgrey.svg" alt="인스타그램">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="/icons/ico_youtube_lightgrey.svg" alt="유튜브">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="/icons/ico_facebook_lightgrey.svg" alt="페이스북">
            </a>
          </li>
          <li class="footer-snsitem">
            <a class="footer-snslink" href="javascript:void(0)">
              <img src="/icons/ico_kakao_lightgrey.svg" alt="카카오톡">
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-bottom">
        <div class="footer-txt">
          <p>서울시, 성남시</p>
          <p>
            <span>T. 010-3785-3890</span>
            <span>E. dlwnsdn980828@gmail.com</span>
          </p>
        </div>
        <div class="footer-txt">
          <p>made by Concho</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- [E]thpart-GRlSYbSXNM -->
  <script src="/js/setting.js"></script>
  <script src="/js/plugin.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/script.js"></script>
</body>